<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Déconnexion custom</title>
    </head>
    <body>
        <section>

            <div>
                <h1>Vous êtes sur le point de vous déconnecter.</h1>
                <h2>Vous êtes certains ?</h2>
            </div>

            <form th:action="@{logout-processing}" method="post">
                <!--mise en place du token de sécurité  (permet de vérifié que la perosnne qui soumet le formulaire (POST) et bien celle qui en a fait la demande (GET))     -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                <!--  Les champs du formulaire      -->
                <input type="submit" value="Confirmer">
            </form>
        </section>
    </body>
</html>